@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:wght@100&display=swap");
::-moz-selection {
  background-color: #808080;
}
::selection {
  background-color: #808080;
}

/* Стиль для ползунка */
::-webkit-scrollbar {
  width: 10px; /* Ширина ползунка */
}

/* Стиль полосы прокрутки (не ползунка) */
::-webkit-scrollbar-track {
  background-color: #d8d8d8; /* Цвет фона полосы прокрутки */
}

/* Стиль ползунка прокрутки */
::-webkit-scrollbar-thumb {
  background-color: #565656; /* Цвет ползунка */
  border-radius: 15px; /* Скругление углов ползунка */
}

/* Изменение стиля ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
}

header {
  padding-bottom: 80px;
}

a {
  color: #333;
  transition: color 0.15s ease-in;
  text-decoration: none;
}
a:hover {
  color: #dddddd;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  border-radius: 14px;
  margin-left: 7px;
  margin-bottom: 7px;
  margin-top: 14px;
  padding: px;
  padding-left: 3px;
  width: 1500px;
  height: 60px;
}

.logo {
  font-family: "Julius Sans One", sans-serif;
  padding-left: 13px;
  padding-top: 5px;
  color: #FFFFFF;
  font-size: 55px;
  cursor: default;
}

.goroda {
  display: flex;
  padding-right: 35px;
  padding-top: 20px;
  color: #ffffff;
  margin-top: 3px;
  cursor: pointer;
  list-style-type: none;
  /* Убираем стандартные маркеры списка */
}

.icon.o {
  height: 15px;
  margin: 18px;
}

.icon.s {
  height: 15px;
  margin: 18px;
}

.icon.n {
  height: 15px;
  margin: 18px;
}

.icon.g {
  height: 15px;
  margin: 18px;
}

.sss {
  display: flex;
  transition: 0.15s ease-in;
  margin-left: 55px;
}
.sss:hover {
  font-size: 16.5px;
  margin-left: 53px;
  margin-bottom: px;
}

.bottom_h {
  width: 712px;
  height: 25px;
  margin-top: 3px;
  border-radius: 7px;
  margin-left: 7px;
  padding: 1px;
  background-color: #c8c8c8;
  display: flex;
  font-weight: 600;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.pp {
  margin-top: 2px;
  cursor: pointer;
}

.pole {
  margin-top: 1px;
  border-radius: 0.45em;
  margin: px;
  margin-left: 2px;
  margin-right: 3px;
  width: 600px;
  height: 20px;
  border: 1px solid #333;
}

.beee {
  display: flex;
}

.bottom {
  width: 100px;
  display: flex;
  height: 22px;
  margin-top: 3px;
  border-radius: 7px;
  padding: 2px;
  background-color: #c8c8c8;
}

.filt {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-left: px;
  margin-top: 3px;
  font-weight: 600;
  transition: color 0.15s ease-in;
  text-decoration: none;
}

#ost_1 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 205px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  background-color: #EDEDED;
  font-weight: 700;
}

.tablica {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 205px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  background-color: #EDEDED;
  font-weight: 700;
}
.tablica td {
  transition: color 0.2s ease;
  /* добавляем transition для background-color */
  /* hover-эффект внутри .hoverable */
}
.tablica td:hover {
  background-color: #cccccc;
  /* изменяем цвет при наведении мыши */
}

td {
  border: 1px solid #000;
  border-collapse: collapse;
  cursor: pointer;
  width: 190px;
  padding-left: 5px;
}

.karta {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9998;
  width: 800px;
  height: 600px;
}

.karta-2 {
  width: 800px;
  height: 600px;
  cursor: grab, grabbing;
}

.audi {
  display: flex;
  margin-top: 80px;
  margin-bottom: 70px;
  margin-left: 1px;
  margin-right: 1px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

#imageContainer {
  position: relative;
}

.car-image {
  height: 440px;
  width: 730px;
  border-radius: 14px;
  margin: 6px;
  border: 3px solid #333;
}

.arrow {
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.strelka {
  height: 35px;
  width: 40px;
  cursor: pointer;
  margin: 10px;
}

.audi-op {
  height: 430px;
  width: 730px;
  border-radius: 14px;
  margin: 6px;
  color: #FFFFFF;
  background-color: #e93544;
  border: 3px solid #333;
  /* Добавляем flex-контейнер */
  margin-right: 1px;
  padding: 5px;
}

.name {
  margin: 18px;
  font-size: 25px;
  margin-left: 30px;
}

.thead {
  display: flex;
  font-weight: 900;
  -moz-column-gap: 2.3px;
       column-gap: 2.3px;
  margin-left: 10px;
  margin-right: 10px;
}
.thead div {
  border-radius: 4px;
  border: 2px solid #333;
  padding: 11px;
  width: 149px;
  text-align: center;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  /* добавляем transition для background-color */
  cursor: pointer;
  /* hover-эффект внутри .hoverable */
}
.thead div:hover {
  background-color: #333;
  color: white;
  /* изменяем цвет при наведении мыши */
}

.table {
  font-size: 15px;
  font-weight: 600;
  margin-left: 7px;
  margin-right: 7px;
}
.table td {
  width: 330px;
  padding: 9px;
  border: 2px solid #333;
  cursor: default;
  border-radius: 4px;
}

td:nth-child(2) {
  text-align: center;
}

#dvigat {
  display: block;
}

#trans {
  display: none;
}

#massa {
  display: none;
}

#topliva {
  display: none;
}

.mers {
  display: flex;
  margin-bottom: 75px;
}

#merscar {
  position: relative;
}

.merscar-image {
  height: 440px;
  width: 730px;
  border-radius: 14px;
  border: 3px solid #333;
  margin: 6px;
}

.mers-op {
  height: 430px;
  width: 730px;
  border-radius: 14px;
  margin: 6px;
  color: #333;
  background-color: #fffff9;
  border: 3px solid #333;
  padding: 5px;
}
.mers-op h4 {
  margin-left: 23px;
}
.mers-op table {
  font-size: 15px;
  font-weight: 900;
  margin-left: 7px;
  margin-right: 7px;
}
.mers-op table td {
  width: 330px;
  padding: 9px;
  border: 2px solid #333;
  cursor: default;
  border-radius: 4px;
}

#mersdvigat {
  display: block;
}

#merstrans {
  display: none;
}

#mersmassa {
  display: none;
}

#merstopliva {
  display: none;
}

.th {
  display: flex;
  font-weight: 1000;
  -moz-column-gap: 2.3px;
       column-gap: 2.3px;
  margin-left: 10px;
  margin-right: 10px;
}
.th div {
  border-radius: 4px;
  border: 2px solid #333;
  padding: 11px;
  width: 149px;
  text-align: center;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  /* добавляем transition для background-color */
  cursor: pointer;
  /* hover-эффект внутри .hoverable */
}
.th div:hover {
  background-color: #333;
  color: white;
  /* изменяем цвет при наведении мыши */
}

.porsh-op {
  color: white;
  height: 430px;
  width: 730px;
  border-radius: 14px;
  margin: 6px;
  background-color: #6C746C;
  border: 3px solid #333;
  padding: 5px;
}
.porsh-op table {
  font-size: 15px;
  font-weight: 900;
  margin-left: 7px;
  margin-right: 7px;
}
.porsh-op table td {
  width: 330px;
  padding: 9px;
  border: 2px solid #333;
  cursor: default;
  border-radius: 4px;
}

.porshth {
  display: flex;
  font-weight: 1000;
  -moz-column-gap: 2.3px;
       column-gap: 2.3px;
  margin-left: 10px;
  margin-right: 10px;
}
.porshth div {
  border-radius: 4px;
  border: 2px solid #333;
  padding: 11px;
  width: 149px;
  text-align: center;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  /* добавляем transition для background-color */
  cursor: pointer;
  /* hover-эффект внутри .hoverable */
}
.porshth div:hover {
  background-color: #333;
  color: white;
  /* изменяем цвет при наведении мыши */
}

#pdvigat {
  display: block;
}

#ptrans {
  display: none;
}

#pmassa {
  display: none;
}

#ptopliva {
  display: none;
}

.shevr-op {
  color: white;
  height: 430px;
  width: 730px;
  border-radius: 14px;
  margin: 6px;
  background-color: #1e1e1e;
  border: 3px solid #333;
  padding: 5px;
}
.shevr-op table {
  font-size: 15px;
  font-weight: 900;
  margin-left: 7px;
  margin-right: 7px;
}
.shevr-op table td {
  width: 330px;
  padding: 9px;
  border: 2px solid white;
  cursor: default;
  border-radius: 4px;
}

.shevrth {
  display: flex;
  font-weight: 1000;
  -moz-column-gap: 2.3px;
       column-gap: 2.3px;
  margin-left: 10px;
  margin-right: 10px;
}
.shevrth div {
  border-radius: 4px;
  border: 2px solid white;
  padding: 11px;
  width: 149px;
  text-align: center;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  /* добавляем transition для background-color */
  cursor: pointer;
  /* hover-эффект внутри .hoverable */
}
.shevrth div:hover {
  background-color: white;
  color: #333;
  /* изменяем цвет при наведении мыши */
}

#sdvigat {
  display: block;
}

#strans {
  display: none;
}

#smassa {
  display: none;
}

#stopliva {
  display: none;
}

.email {
  text-align: end;
  font-weight: 600;
}/*# sourceMappingURL=Tikkon.css.map */